Repository xmonad/xmonad-contrib, pull requests merged in 2021-02, with the labels that each got.

#461 Clean up and unify CHANGES.md
  CHANGES.md
Labels: 2.status: done, 6.topic: documentation

#458 X.H.ManageHelpers: Add doLower, doRaise
  CHANGES.md
  XMonad/Hooks/ManageHelpers.hs
Labels: 0.kind: enhancement, 2.status: done, 6.topic: hooks

#443 Refactor X.H.DynamicLog and multiple loggers support
  CHANGES.md
  XMonad/Hooks/DynamicLog.hs
Labels: 0.kind: enhancement, 6.topic: hooks, 9.needs: review
