Repository xmonad/xmonad-contrib, pull requests merged in 2021-04, with the labels that each got.

#500 New Module: XMonad.Prompt.OrgMode
  CHANGES.md
  XMonad/Doc/Extending.hs
  XMonad/Prompt/OrgMode.hs
  xmonad-contrib.cabal
Labels: 0.kind: enhancement, 6.topic: prompt, 9.needs: review

#503 add KeepWordsLeft and KeepWordsRight for X.L.Renamed
  CHANGES.md
  XMonad/Layout/Renamed.hs
Labels: 6.topic: layout, 9.needs: CHANGES.md

#505 X.Prompt: Special handling of one highlighted item
  XMonad/Prompt.hs
Labels: 0.kind: bug, 2.status: done, 6.topic: prompt

#491 X.H.DynamicIcons: Cleanups, docs improvements, composability with other *PPs
  XMonad/Doc/Extending.hs
  XMonad/Hooks/DynamicIcons.hs
Labels: 0.kind: enhancement, 0.kind: refactor, 6.topic: hooks

#507 Add `MINIMAL` pragmas to `HasName` and `XPrompt`
  XMonad/Prompt.hs
  XMonad/Util/NamedActions.hs
Labels: 0.kind: refactor, 2.status: done, 6.topic: documentation, 9.needs: community feedback

#222 Actions.EasyMotion feature added
  CHANGES.md
  XMonad/Actions/EasyMotion.hs
  XMonad/Doc/Extending.hs
  xmonad-contrib.cabal
Labels: 0.kind: enhancement, 2.status: done, 6.topic: actions, 9.needs: clean-up

#508 X.Prompt: fix selection not entering history
  XMonad/Prompt.hs
Labels: 0.kind: bug, 6.topic: prompt, 9.needs: review

#520 Redefined `ComplCaseSensitivity` as a proper sum type. (#509)
  CHANGES.md
  XMonad/Layout/WorkspaceDir.hs
  XMonad/Prompt.hs
  XMonad/Prompt/Directory.hs
  XMonad/Prompt/Shell.hs
Labels: 0.kind: refactor, 6.topic: prompt, 9.needs successful build

#506 X.P.Shell: add `safeDirPrompt`
  CHANGES.md
  XMonad/Prompt/Shell.hs
Labels: 0.kind: enhancement, 6.topic: prompt, 9.needs: review

#515 X.A.EasyMotion: Cleanup, doc improvement
  XMonad/Actions/EasyMotion.hs
Labels: 0.kind: refactor, 6.topic: actions, 6.topic: documentation

#532 X.H.StatusBar: update example for multiple monitors
  XMonad/Hooks/StatusBar.hs
Labels: 2.status: done, 6.topic: documentation, 6.topic: hooks
