Repository xmonad/xmonad-contrib, pull requests merged in 2021-06, with the labels that each got.

#541 Add custom resize ratio to X.L.BinarySpacePartition
  CHANGES.md
  XMonad/Layout/BinarySpacePartition.hs
Labels: 0.kind: enhancement, 6.topic: layout, 9.needs: squash commits

#543 X.A.CycleRecentWS: Cycle workspaces, not windowsets
  CHANGES.md
  XMonad/Actions/CycleRecentWS.hs
  tests/CycleRecentWS.hs
  tests/Main.hs
  xmonad-contrib.cabal
Labels: 0.kind: bug, 2.status: done, 6.topic: actions, 9.needs: community feedback

#553 X.H.StatusBar.statusBarPipe: spawn in the startupHook
  XMonad/Hooks/StatusBar.hs
Labels: 0.kind: bug, 6.topic: hooks, 9.needs: review

#460 X.H.RescreenHook: New module (custom rescreen and randr event hooks)
  CHANGES.md
  XMonad/Doc/Extending.hs
  XMonad/Hooks/Rescreen.hs
  XMonad/Hooks/StatusBar.hs
  XMonad/Util/ExtensibleConf.hs
  tests/ExtensibleConf.hs
  xmonad-contrib.cabal
Labels: 0.kind: enhancement, 6.topic: hooks

#493 Move X.L.LayoutCombinators.(|||) to XMonad.Layout
  CHANGES.md
  XMonad/Actions/BluetileCommands.hs
  XMonad/Actions/CycleSelectedLayouts.hs
  XMonad/Config/Arossato.hs
  XMonad/Config/Bluetile.hs
  XMonad/Config/Droundy.hs
  XMonad/Layout/Groups/Examples.hs
  XMonad/Layout/Groups/Wmii.hs
  XMonad/Layout/LayoutCombinators.hs
  XMonad/Layout/MessageControl.hs
  XMonad/Prompt/Layout.hs
Labels: 0.kind: refactor, 6.topic: layout, 9.needs: community feedback, 9.needs: review

#525 X.Prompt: Document, simplify completion window implementation
  XMonad/Prompt.hs
Labels: 0.kind: refactor, 6.topic: prompt, 9.needs: review
